<h2 id="attr"><a href="#attr">attr</a></h2>
<p>The <code>attr</code> directive allows you to set an attribute on the DOM element based on <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Truthy">TRUTHY</a> or <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Falsy">FALSY</a> value.</p>
<p>It uses the <strong>dot notation</strong> to separate the attribute name and the value and its value can have two parts
   depending on the attribute you are setting;</p>
<p>There are 4 special attributes with special handling: class, style, data and boolean attributes. Everything else will follow the following format:</p>

<code-snippet>
attr.[attribute-name]="[attribute value], [condition]"
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> The <code>[attribute value]</code> must contain data binding
	curly braces for data binding but for the <code>[condition]</code>
	the curly braces are not necessary.
</blockquote>

<h4 id="boolean-attributes"><a href="#boolean-attributes">Boolean Attributes</a></h4>
<p>There are certain attributes in HTML that are considered to be <a target="_blank" href="https://html.spec.whatwg.org/multipage/common-microsyntaxes.html#boolean-attributes">boolean attributes</a>.
   They do not require a value, but if you set them to true, they will be set to the attribute name.</p>
<p>The below example will only set the <code>disabled</code> attribute on the button if the <code>disabled</code> property is truthy.</p>

<code-snippet language="js">
class ActionButton extends WebComponent {
	static observedAttributes = ['disabled', 'type'];
	
	get template() {
		return `
			<button
				type="{type}"
				attr.disabled="disabled"></button>
		`
	}
}

ActionButton.register();
</code-snippet>

<blockquote class="note"><strong>Note:</strong> CWCO automatically converts native boolean attributes to BOOLEAN values properties.</blockquote>
<h4 id="style-attribute"><a href="#style-attribute">Style Attribute</a></h4>
<p>There are two ways you can use the <code>attr</code> directive to set style attributes. You can use it for a specific style
   property...</p>

<code-snippet language="html">
<button attr.style.font-weigth="bold, subType === 'primary'"></button>
</code-snippet>

<p>with the format of: <code>attr.style.[property-name]="[value], [condition]"</code></p>

<p>...or you can use it to set a style CSS string;</p>

<code-snippet language="html">
<button attr.style="background: orange; color: black;, subType === 'cta'"></button>
</code-snippet>

<p>with the format of: <code>attr.style="[CSS string], [condition]"</code></p>

<h4 id="class-attribute"><a href="#class-attribute">Class Attribute</a></h4>
<p>The <code>attr</code> directive can also be used to set class attributes, and it follows the same concept as the style attribute.</p>
<p>You can use it for a specific class...</p>

<code-snippet language="html">
<button attr.class.primary="subType === 'primary'"></button>
</code-snippet>

<p>with the format of: <code>attr.class.[class-name]="[condition]"</code></p>

<p>...or you can use it to set a class string;</p>

<code-snippet language="html">
<button attr.class="primary-{subType}, subType === 'cta'"></button>
</code-snippet>

<p>with the format of: <code>attr.class="[class-string], [condition]"</code></p>

<h4 id="data-attribute"><a href="#data-attribute">Data Attribute</a></h4>
<p>The data attribute is another special attribute that only follows a single format:</p>
<p>You can only use it for a specific data name</p>

<code-snippet language="html">
<button attr.data.special-button="{subType}, subType !== 'default'"></button>
</code-snippet>

<p>with the format of: <code>attr.data.[data-name]="[value], [condition]"</code></p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/repeat-directive" class="btn outlined-btn">< Repeat</a>
	<a href="/documentation/bind-directive" class="btn outlined-btn">Bind ></a>
</div>
