<h2 id="bind"><a href="#bind">bind</a></h2>
<p>The <code>bind</code> directive allows you to bind a <strong>property</strong> to a DOM element.</p>
<p> This can be a specific attribute, a property of
   the component class, or a property of the component instance. It may feel redundant to use the <code>bind</code> directive when you
   can just use curly braces but <strong>bind was introduced to solve a very specific problem</strong>.</p>
<p>The following is how to do <strong>data binding with curly braces</strong>:</p>

<code-snippet language="html">
<span>{label}</span>
<input placeholder="{placeholder}" />
</code-snippet>

<p>However, if you want to use a template directly on the HTML file -- when using
	<a href="/documentation/context-provider-component">context providers</a> for example --
   you may experience a quick flashing where you see the curly braces instead of the value they are supposed to represent.</p>
<p>For that case and others you may want to use the <code>bind</code> directive.</p>
<p>The following will show the default static value until Javascript kicks in and bind the value to the element.</p>

<code-snippet language="html">
<span bind="{label}">Default Label</span>
<input bind.placeholder="{placeholder}" placeholder="Default Placeholder" />
</code-snippet>

<p>If you simply do <code #ignore>bind=&quot;{label}&quot;</code> for example, it is assumed you want to bind to the element text content. You also
   have the option to specify which property or attribute you want to bind to, like <code #ignore>bind.innerHTML=&quot;{markup}&quot;</code> or
	<code #ignore>bind.placeholder=&quot;{placeholder}&quot;</code></p>
<p>The bind becomes even more powerful when you server-side-render the HTML. It allows you to set the value in the server
   and then have the data bound when the javascript loads. It is also a nice way to provide backup for in HTML template
   rendered in case user has JavaScript disabled.</p>
<h4 id="bind-vs-attr">bind vs attr</h4>
<p>The <code>attr</code> will CONDITIONALLY set the attribute, while the <code>bind</code> will ALWAYS set the attribute or property.</p>
<p>You should AVOID using both <code>attr</code> and <code>bind</code> on the same attribute. The last one acting on the element attribute will
   be the one that ends up binding the attribute value.</p>

<code-snippet language="html">
<li
	bind.className="bind" attr.class="attr, true"
	attr.id="attr, true" bind.id="bind"
></li>

<!-- renders:
<li class="attr" id="bind">my item</li>
-->
</code-snippet>

<p>Also, while <code>attr</code> only acts on element attributes, <code>bind</code> acts on the element&#39;s property. That&#39;s why you use <code>className</code>
   instead of <code>class</code> when using <code>bind</code>.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/attr-directive" class="btn outlined-btn">< Attr</a>
	<a href="/documentation/ref-directive" class="btn outlined-btn">Ref ></a>
</div>
