<h2 id="events"><a href="#events">Events</a></h2>
<p>You can use event attributes to attach event listeners in the template. These attributes do not
   make to the DOM. They are not rendered on the elements for security reasons.</p>

<h3 id="handler-function"><a href="#handler-function">Handler Function</a></h3>
<p>You can call the class function that handles that event as the attribute value.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	
	handleClick() {
		// logic here
	}
	
	get template() {
		return `
			<button type="button" onclick="handleClick()"></button>
		`;
	}
}
</code-snippet>

<h4 id="event"><a href="#event">$event</a></h4>
<p>You can use the <code>$event</code> property to pass the event to the handler when you need the reference of the event.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	
	handleClick(event) {
		console.log(event)
	}
	
	get template() {
		return `
			<button type="button" onclick="handleClick($event)"></button>
		`;
	}
}
</code-snippet>

<h4 id="additional-arguments"><a href="#additional-arguments">Additional arguments</a></h4>
<p>The <code>$event</code> is not the only thing you can pass to the event handler function. You can pass
   anything including reference to class properties by using the <code>this</code> keyword or any other data.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	
	handleClick(numb, event, type) {
		console.log(numb, event, type)
	}
	
	get template() {
		return `
			<button type="button" onclick="handleClick(12, $event, this.getAttribute('type'))"></button>
		`;
	}
}
</code-snippet>

<h3 id="handler-statement"><a href="#handler-statement">Handler statement</a></h3>
<p>Sometimes the event handler function does a very simple thing that may feel like too much to create
   a whole function for.</p>
<p>For cases like that you can simply add the logic as a handler and <code>WebComponent</code>
   will take care of creating a handler for that event listener for you.</p>

<p>We can simplify the above example like so.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	get template() {
		return `
			<button type="button" onclick="this.dispatchEvent(new Event('click'))"></button>
		`;
	}
}
</code-snippet>

<p>You can still reference the <code>$event</code> this way as well.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	get template() {
		return `
			<button type="button" onclick="{console.log($event)}"></button>
		`;
	}
}
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> The curly braces around everything is optional
</blockquote>

<p>This feature is great for small code execution. Think of inline handler as
   the body of the function you would otherwise create.</p>

<h3 id="dispatch-event"><a href="#dispatch-event">Dispatch Events</a></h3>

<p>Dispatching events is the only way you should be passing data to parent components.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	get template() {
		return html`
			<input type="text" onchange="{handleChange($event)}"/>
		`;
	}

	handleChange(event: Event) {
		event.preventDefault();
		event.stopPropagation();

		this.dispatchEvent(new CustomEvent('change', {
			detail: event.target.value
		}))
	}
}
</code-snippet>

<p>On the above example, we listen to a <code>change</code> event on the input element and then
dispatch a <a href="https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent">CustomEvent</a> of same name
with the value as <code>detail</code>.</p>

<h4 id="dispatch-best-practices"><a href="#dispatch-best-practices">Best Practices</a></h4>

<h5>1 - Prevent default and stop propagation</h5>
<p>Whenever you want to intercept a native event type and dispatch it with more details as the
above code example, it is always good to <a href="">preventDefault</a> and <a href="">stopPropagation</a>
otherwise the same event can be caught twice by the listener: 1 by your dispatch and the other by native behavior</p>

<h5>2 - Raw data></h5>

<p>The way data is reactive inside the component is because it uses
	<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy">Proxy</a>.</p>
<p>One problem that you possibly will run into is dispatching the proxied internal data
which can get modified by the parent component which will trigger an update on the child component.</p>
<p>To fix that you should always dispatch the raw data instead of the proxied one.</p>

<code-snippet language="js">
import {html, WebComponent} from "cwco";

class PrentComp extends WebComponent {
   opts = [
			{value: 12, label: "one"},
			{value: 24, label: "two"},
	 ];
	
	 get template() {
			return html`<selector-dropdown options="{opts}"></selector-dropdown>`;
   }
}
</code-snippet>

<code-snippet language="js">
import {html, raw, WebComponent} from "cwco";

class SelectorDropdown extends WebComponent {
	static observedAttributes = ['options'];
	options = [];
	
	get template() {
		return html`
			<select onchange="{handleChange($event)}">
				<option
					repeat="options as opt"
					value="{opt.value}"
					data-key="{$key}">{opt.label}</option>
			</select>
		`;
	}
	
	handleChange(event: Event) {
		event.preventDefault();
		event.stopPropagation();
	
		const selectedOption = event.target.selectedOptions[0];
		const optionIndex = selectedOption.dataset.key;
		
		this.dispatchEvent(new CustomEvent('change', {
			detail: raw(this.options[optionIndex])
		}))
	}
}
</code-snippet>

<p>Simply import and call <code>raw</code> to get the unproxied data.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/stylesheet" class="btn outlined-btn">< Stylesheet</a>
	<a href="/documentation/faq" class="btn outlined-btn">FAQ ></a>
</div>
