<h2 id="directives"><a href="#directives">Directives</a></h2>
<p>Directives are HTML attributes not specific to any tag. They are global logic attributes.</p>
<p><strong>The idea of a directive is already built-in into HTML</strong>. They are known as
	<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes">global attributes</a>. For example, the attributes <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/draggable">draggable</a>
   and <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contenteditable">contenteditable</a> are directives.</p>
<ol>
	<li>They can be placed in any HTML tag;</li>
	<li>They give HTML tags special capabilities;</li>
</ol>
<p>The idea is same here and with CWCO you have a few special built-in ones, and you can also <a href="/documentation/custom-directive">create a custom one</a> for your needs.</p>

<h3 id="if"><a href="#if">if</a></h3>
<p>The <code>if</code> directive will simply add or remove a node element from the DOM based on the truthiness of the value.</p>
<p>One important thing to know about the <code>if</code> directive is that the element is always the same instance, and
   it simply puts or remove it from the DOM based on the value being
	<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Truthy">TRUTHY</a> or <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Falsy">FALSY</a>.</p>

<p>Below example is an input field that will only add the label and error <code>span</code> tags to the DOM once their values are TRUTHY.</p>
<code-snippet language="js">
class InputField extends WebComponent {
	static observedAttributes = [
		'label',
		'value',
		'name',
		'type',
		'error-message'
	];
	
	get template() {
		return `
			<label class="input-field">
				<span if="label">{label}</span>
				<input type="{type}" name="{name}" value="{value}"/>
				<span if="errorMessage">{errorMessage}</span>
			</label>
		`
	}
}

InputField.register();
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> Directive attribute values may or may not be wrapped in curly braces. This is a characteristics
	only for directive attributes. This also may change per attribute value pattern.
</blockquote>

<div class="row align-apart doc-navigation">
	<a href="/documentation/template" class="btn outlined-btn">< Template</a>
	<a href="/documentation/repeat-directive" class="btn outlined-btn">Repeat ></a>
</div>
