<h2 id="livecycles"><a href="#livecycles">LiveCycles</a></h2>
<p>The native web component API has <a href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements#using_the_lifecycle_callbacks">livecycles</a>
   methods:</p>
<ul>
	<li>connectedCallback;</li>
	<li>disconnectedCallback;</li>
	<li>attributeChangedCallback;</li>
	<li>adoptedCallback;</li>
</ul>
<p><code>WebComponent</code> simply renames them and &quot;fixes&quot; couple of things about some of them.</p>

<h3 id="ondestroy"><a href="#ondestroy">onDestroy</a></h3>
<p>This livecycle function is called when the component is removed from the document.</p>

<code-snippet language="js">
class BFSButton extends WebComponent {

	onDestroy() {
		console.log('removed', this.mounted, this.isConnected)
	}
	
}

BFSButton.register();

const btn = new BFSButton();

// will trigger onMount call
document.body.appendChild(btn)

// will trigger onDestroy call
btn.remove()
</code-snippet>

<div class="row align-apart doc-navigation">
	<a href="/documentation/on-mount" class="btn outlined-btn">< onMount</a>
	<a href="/documentation/on-update" class="btn outlined-btn">onUpdate ></a>
</div>
