<h2 id="ondestroy"><a href="#ondestroy">onDestroy</a></h2>
<p>This livecycle function is called when the component is removed from the document.</p>

<code-snippet language="js">
class BFSButton extends WebComponent {

	onDestroy() {
		console.log('removed', this.mounted, this.isConnected)
	}
	
}

BFSButton.bootstrap();
</code-snippet>
<code-snippet language="js">

const btn = new BFSButton();

// will trigger onMount call
document.body.appendChild(btn)

// will trigger onDestroy call
btn.remove()
</code-snippet>

<p>It is an excellent livecycle to do clean-up work like:</p>
<ul>
	<li>Unsubscribe from observables;</li>
	<li>Cancel a server request;</li>
	<li>Clear timeout and intervals;</li>
	<li>Clear requestAnimationFrame;</li>
</ul>

<div class="row align-apart doc-navigation">
	<a href="/documentation/on-mount" class="btn outlined-btn">< onMount</a>
	<a href="/documentation/on-update" class="btn outlined-btn">onUpdate ></a>
</div>
