<h2 id="livecycles"><a href="#livecycles">LiveCycles</a></h2>
<p>The native web component API has <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements#using_the_lifecycle_callbacks">lifecycles</a>
   methods:</p>
<ul>
	<li>connectedCallback;</li>
	<li>disconnectedCallback;</li>
	<li>attributeChangedCallback;</li>
	<li>adoptedCallback;</li>
</ul>
<p>CWCO simply renames them and &quot;fixes&quot; a couple of things about some of them.</p>

<h3 id="onmount"><a href="#onmount">onMount</a></h3>
<p>This livecycle function is called when the component is inserted in the document soon after
   the first render.</p>

<code-snippet language="js">
class BFSButton extends WebComponent {

	onMount() {
		console.log('mounted', this.mounted, this.isConnected)
	}
	
}

BFSButton.register();

// will trigger onMount call
document.body.appendChild(new BFSButton())
</code-snippet>

<h3 id="onmount-cleanup"><a href="#onmount-cleanup">onMount Cleanup</a></h3>
<p>One handy detail about <code>onMount</code> is that you can return a function which will get called
	when the component is removed from the DOM before the body of <a href="/documentation/on-destroy">onDestroy</a>
	gets executed.</p>

<code-snippet language="js">
class TodoApp extends WebComponent {
	todos = [];
	
	onMount() {
		// return the unsubscribe function so the subscription
	  // gets cleanup when the component is removed from the DOM
		return todoStore.subscribe(async () => {
      this.todos = await todoStore.getItems();
		})
	}

}
</code-snippet>
<p>This is perfect to unsubscribe from things, cleanup timers, cancel animations, etc.</p>

<code-snippet language="js">
class TimeCounter extends WebComponent {
	time = new Date();
	
	get template() {
		return <p>{time.toLocaleString()}</p>
	}
	
	onMount() {
		const timer = setInterval(() => {
			this.time = new Date();
		}, 1000);
	
		return () => clearInterval(timer);
	}
	
}
</code-snippet>

<p>It can be perfectly used alongside or instead of <a href="/documentation/on-destroy">onDestroy</a> lifecycle function.
   If alongside, know that it will be executed before the <code>onMount</code> method.</p>

<h3 id="mounted"><a href="#mounted">mounted</a></h3>

<p>You can verify if the component is in the DOM by checking the native <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Node/isConnected">isConnected</a>
   or <code>WebComponent</code> &quot;<strong>mounted</strong>&quot; property.</p>

<p>We suggest you to use <code>mounted</code> property instead of <code>isConnected</code>
   as it will better tell you if the component is in the DOM and its template was parsed and set as well.</p>

<h3 id="what-happens-during-mounting"><a href="#what-happens-during-mounting">What happens during mounting?</a></h3>
<p>CWCO will set the shadow root up according to the <a href="/documentation/configurations">configurations</a> you set.</p>

<p>Internally, it listens to the <code>connectedCallback</code> and then access the <a href="/documentation/template">template</a>
to parse it into elements while tracking the parts of the template you want to data bind.</p>

<p>Once it is done parsing and tracking the template it set the elements as the component body content.</p>

<p>If you remove the component element from the DOM and attach to it again, it will trigger a <code>onMount</code> but
   it will not parse and track the elements again. <strong>Parsing and tracking only happen once</strong>.
   In this scenario, it will simply try to update the component body elements in case you placed it inside a different
   component with different context data.</p>

<h3 id="parsed"><a href="#parsed">parsed</a></h3>
<p>There is also a <code>parsed</code> property you can check to verify if the component is
   parsed or ever been attached to the DOM.</p>

<code-snippet language="js">
const btn = new BFSButton();

btn.mounted // false;
btn.parsed // false;

document.body.appendChild(btn);

btn.mounted // true;
btn.parsed // true;

btn.remove();

btn.mounted // false;
btn.parsed // true;
</code-snippet>

<p>The <code>parsed</code> property will always confirm if an element ever been attached anywhere on the DOM.</p>

<h3 id="constructor"><a href="#constructor">constructor</a></h3>
<p>In case you want to do things before the component is mounted you should use the constructor.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/configurations" class="btn outlined-btn">< Configurations</a>
	<a href="/documentation/on-destroy" class="btn outlined-btn">onDestroy ></a>
</div>
