<h2 id="properties"><a href="#properties">Properties</a></h2>
<p>Properties are simply <strong>public class properties</strong> that <code>WebComponent</code> watches for updates.</p>

<code-snippet language="js">
class TodoItem extends WebComponent {
	// normal class properties
	title = 'untitled';
	description = '';
	status = 'in-progress';

	get template() {
		return `
			<div class="todo-item">
				<h3>{title}</h3>
				<p>{description}</p>
				<p><strong>Status</strong> {status}</p>
			</div>
		`;
	}
}
</code-snippet>

<h3 id="property-update"><a href="#property-update">Property Update</a></h3>
<p>Property can be updated inside the class or directly on the class element instance.</p>

<code-snippet language="js">
const todo = new TodoItem();

todo.title = 'My Todo';

document.body.appendChild(todo);
</code-snippet>

<p>Whenever there is a property update the component will update the DOM.
   The example below will update the count whenever the <b>increment</b> and <b>decrement</b> buttons are clicked.</p>

<code-snippet language="js">
class CounterWidget extends WebComponent {
	// properties
	count = 0;
	
	get template() {
		return `
			{count}
			<button type="button"
			        onclick="updateCount(this.count - 1)">
				decrement</button>
			<button type="button"
			        onclick="updateCount(this.count + 1)">
				increment</button>
		`;
	}
	
	updateCount(newCount) {
		this.count = newCount;
	}
}

CounterWidget.bootstrap();

document.body.appendChild(new CounterWidget())
</code-snippet>

<h3 id="deep-updates"><a href="#deep-updates">Deep Updates</a></h3>

<p>The component can even detect deep object changes.</p>
<p>If we change the count to be an object with the <code>value</code> property, the component will update the DOM when we change
   that property.</p>
<p>Any property you declare on the class, including all the attributes, will be deeply watched.</p>

<code-snippet language="js">
class CounterWidget extends WebComponent {
	// properties
	count = {value: 0};
	
	get template() {
		return `
			{count.value}
			<button type="button"
			        onclick="updateCount(this.count.value - 1)">
				decrement
			</button>
			<button type="button"
			        onclick="updateCount(this.count.value + 1)">
				increment
			</button>
		`;
	}
	
	updateCount(newCount) {
		this.count.value = newCount;
	}
}

CounterWidget.bootstrap();

document.body.appendChild(new CounterWidget())

</code-snippet>

<p>This is what makes this library a <strong>truly reactive</strong>. It does this by using
	<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy">Proxy</a> behind the scenes.</p>
<p>So, updates are triggered by:</p>
<ul>
	<li>Any property re-assignment;</li>
	<li>Deep updates on <a href="/documentation/properties#observable-properties">observable properties</a>.</li>
</ul>

<h4 id="observable-properties"><a href="#observable-properties">Observable properties</a></h4>
<p>Class properties can have any value. You can set an <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/Element">Element</a> instance,
a <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D">CanvasRenderingContext2D</a> instance, a custom class, etc.</p>
<p>These are not valid data and whenever they change will not trigger the component to update. They are static data values which you can still reference
inside the template.</p>
<p>CWCO considers <strong>observable properties</strong> to be of type:</p>
<ul>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Glossary/Primitive">primitive</a>;</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map">Map</a>;</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set">Set</a>;</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Array</a>;</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Typed_arrays">Typed Array</a>;</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object">Object</a>;</li>
</ul>

<h3 id="private-property"><a href="#private-property">Private Property</a></h3>
<p>Private properties are private to anything outside the class. They are perfect when you want to set data
   that should only be accessed or changed from inside the class.</p>
<p>One thing to know is that <strong>they do not trigger component update on changes</strong>.</p>
<p>If a property is not used in the template, it SHOULD be private. Use them for internal calculations to further optimize your component.</p>

<code-snippet language="js">
class CountDown extends WebComponent {
	static observedAttributes = [
		'count'
	];
	#timer = 0;
	
	get template() {
		return '{count}';
	}
	
	onMount() {
		this.#timer = setInterval(() => {
			if(this.count > 0) {
				this.count -= 1;
			} else {
				clearInterval(this.#timer)
			}
		}, 1000)
	}
	
	onDestroy() {
		clearInterval(this.#timer)
	}
}
</code-snippet>

<p>The above example shows that since <code>#timer</code> is not used in template, and it is only an internal
piece of data, it is just <b>private</b>. This is a <strong>best practice</strong> to follow which will avoid
un-necessary component updates.</p>

<h3 id="getters-and-setters"><a href="#getters-and-setters">Getters and Setters</a></h3>
<p>Getters and setters are not considered normal properties, and they will not trigger component updates. If you want
to use them you can combine your setters with <a href="/documentation/web-component#forceupdate">forceUpdate</a></p>

<code-snippet language="js">
class CountUpButton extends WebComponent {
	#count = 0;
	
	get count() {
		return this.#count;
	}
	
	set count(val) {
		this.#count = val;
		this.forceUpdate();
	}
	
	get template() {
		return '<button type="button">{this.count}</button>'
	}
}
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> <code>forceUpdate</code> will not trigger component <code>onUpdate</code> to be called.
</blockquote>

<p>To reference getters inside the template you must use the <a href="/documentation/template#the-this-keyword">this keyword</a>
   as they are not seen as normal properties.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/observed-attributes" class="btn outlined-btn">< Observed Attributes</a>
	<a href="/documentation/template" class="btn outlined-btn">Template ></a>
</div>
