<h2 id="ref"><a href="#ref">ref</a></h2>
<p>The <code>ref</code> directive allows you to grab a reference of a DOM element. Its value must be the name of the property you want
   to assign the reference to.</p>
<p>You can access all the dom element references with the <code>$refs</code> property in the class;</p>

<code-snippet language="js">
class InputField extends WebComponent {
	static observedAttributes = ['label', 'value', 'name', 'type', 'error-message'];
	
	onMount() {
		// the $refs object will contain all the DOM references
		const {fieldInput} = this.$refs;

		fieldInput.focus();
	}
	
	get template() {
		return `
			<label class="input-field">
				<input ref="fieldInput" type="{type}" name="{name}" value="{value}"/>
			</label>
		`
	}
}

InputField.register();
</code-snippet>

<p>Think of <code>ref</code> as the <code>querySelector</code> and <code>querySelectorAll</code>, only that you
set it directly on the tag you want to grab the elements of.</p>

<h3 id="ref-and-repeat"><a href="#ref-and-repeat">ref and repeat</a></h3>
<p>The <code>ref</code> directive can be used with <code>repeat</code> as well. This means that instead of a single DOM element, you will have
   an array of DOM elements.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	items = {
		'first': 200,
		'second': 800,
		'third': 400,
	};
	
	onMount() {
		// the $refs object will contain all the DOM references
		const {items} = this.$refs;
	
		items.forEach(item =>  {
			console.log('item', item);
		});
	}
	
	get template() {
		return `
			<div ref="items" repeat="items">{key} item: {$item}</div>
		`
	}
}
</code-snippet>

<p>What this means is that if you use the same name for the <code>ref</code> directive in multiple elements, you will get an array of
   DOM elements instead of a single DOM element.</p>

<h3 id="deep-ref"><a href="#deep-ref">Deep References</a></h3>
<p>The way CWCO handles components allows you to grab deep renferences of elements.</p>

<code-snippet language="js">
class CompOne extends WebComponent {
	get template() {
		return '<div ref="deepBox">box</div>'
	}
}

CompOne.register();
</code-snippet>

<code-snippet language="js">
class CompTwo extends WebComponent {
	onMount() {
		// grap a descendant element ref
		const {box} = this.$refs;
	
		// now you can use the element
		// to reach into its references
		const {deepBox} = box.$refs || {};
	}
	
	get template() {
		return '<comp-one ref="box"></comp-one>'
	}
}

CompTwo.register();
</code-snippet>
<p>One thing to be careful about here is if <code>CompOne</code> is not registered before you try to access
its references. The <code>$refs</code> only exists for CWCO components and is an element is not registered as so,
it is simply a <code>HTMLElement</code> instance.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/bind-directive" class="btn outlined-btn">< Bind</a>
	<a href="/documentation/custom-directive" class="btn outlined-btn">Custom Directive ></a>
</div>
