<h2 id="directives"><a href="#directives">Directives</a></h2>
<p>Directives are HTML attributes not specific to any tag. They are global logic attributes.</p>
<p>The idea of a directive is already built-in into HTML. For example, the attributes <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/draggable">draggable</a>
   and <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/contenteditable">contenteditable</a> are directives.
   They can be placed in any HTML tag to allow that tag to gain special capabilities.</p>
<p>The idea is same here and with Web Components you have a few special built-in ones, and you can also <a href="/documentation/custom-directive">create a custom
                                                                                                                                                                                                one</a> for your need.</p>
<p>One thing in common for all directives is that you don&#39;t need to use the curly braces to specify data or logic in some cases.
   Their value are already understood to be information to be executed for a result. When creating a custom one,
   you have a chance to handle parsing the value yourself, so you can take values in whatever format you want.</p>

<h3 id="repeat"><a href="#repeat">repeat</a></h3>
<p>The <code>repeat</code> directive will repeat the DOM element based on a list-like object values or a specific number.</p>

<h4 id="repeat-based-on-number"><a href="#repeat-based-on-number">repeat based on number</a></h4>
<p>You can specify how many times you want the element to be repeated by simply providing a number.</p>
<p>Below example will repeat the <code>.list-item</code> div 10 times.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	get template() {
		return `
			<div class="list-item" repeat="10">item</div>
		`
	}
}
</code-snippet>

<h4 id="repeat-based-on-data"><a href="#repeat-based-on-data">repeat based on data</a></h4>
<p>You can also provide iterable objects and object literal as value, and it will repeat the element based on number of
   entries in the object. </p>
<p>It supports the following objects:</p>
<ul>
	<li>Set</li>
	<li>Map</li>
	<li>Array</li>
	<li>String</li>
	<li>Iterable Object created with Symbol.iterator</li>
	<li>Object Literal</li>
</ul>
<p>The below example will repeat the <code>.list-item</code> div based on the items yield by the iterator.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	items = {
		*[Symbol.iterator]() {
			yield 10;
			yield 20;
			yield 30;
		}
	};
	
	get template() {
		return `
			<div class="list-item" repeat="items">item</div>
		`
	}
}
</code-snippet>

<p>The following will also work just fine.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	items = {
		'first': 200,
		'second': 800,
		'third': 400,
	};
	
	get template() {
		return `
		<div class="list-item" repeat="items">item</div>
		`
	}
}
</code-snippet>

<h4 id="item"><a href="#item">$item</a></h4>
<p>It would make no sense to simply repeat elements without a way to reference the items in the list. For that reason,
   the <code>repeat</code> directive creates a <code>$item</code> context variable on the element it is set that can be inherited by any child node.</p>
<p>It is available whether you use a number or list-like objects.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	get template() {
		return `
			<div class="list-item" repeat="10">{$item}</div>
		`
	}
}
</code-snippet>

<p>The <code>$item</code> will be available to be used on the element attributes and any child node.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	items = [2, 4, 6];
	
	get template() {
		return `
			<div class="list-item item-{$item}" repeat="items">{$item}</div>
		`
	}
}
</code-snippet>

<h4 id="key"><a href="#key">$key</a></h4>
<p>Similarly, you can read the <code>key</code> for the item you are iterating. When using number, Array and Set as value, the <code>$key</code> will
   be the index value. For Map and Object literal, the key will be the key of the item.</p>

<code-snippet language="js">
class FlatList extends WebComponent {
	get template() {
		return `
			<div class="list-item item-{$key}" repeat="10">{$item}</div>
		`
	}
}
</code-snippet>

<code-snippet language="js">
class FlatList extends WebComponent {
	items = {
		'first': 200,
		'second': 800,
		'third': 400,
	};
	
	get template() {
		return `
			<div class="list-item {$key}" repeat="items">{key} item: {$item}</div>
		`
	}
}
</code-snippet>

<h4 id="repeat-as"><a href="#repeat-as">Repeat As</a></h4>
<p>You don&#39;t have to stick to <code>$item</code> and <code>$key</code>. You may also specify how you want to reference the items and keys of
   your list which can be convenient when you have nested repeats.</p>

<code-snippet language="js">
class ContextMenu extends WebComponent {
	static observedAttributes = ['items'];
	
	get template() {
		return `
			<ul repeat="items as $menuItem">
				<li>
					<span>{$menuItem.label}</span>
					<ul repeat="$menuItem.items as $subMenuItem; $key as $id">
						<li>
							<span><b>{$id}</b> {$subMenuItem.label}</span>
						</li>
					</ul>
				</li>
			</ul>
		`
	}
}
</code-snippet>

<p>You don&#39;t have to specify a name starting with dollar sign, but it is conventional with this library to do so in order to distinguish
   data created in the template vs from the class or context.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/if-directive" class="btn outlined-btn">< If</a>
	<a href="/documentation/attr-directive" class="btn outlined-btn">Attr ></a>
</div>
