<h2 id="stylesheet"><a href="#stylesheet">Stylesheet</a></h2>
<p>The stylesheet getter is a way to define the style for the component.</p>

<code-snippet language="js">
class SubmitButton extends WebComponent {
	static observedAttributes = ['label'];
	
	get stylesheet() {
		return `
			<style>
				:host {
					display: inline-block;
				}
				
				:host button {
					background: blue;
					color: #222;
				}
			</style>
		`;
	}
	
	get template() {
		return '<button type="submit">{label}</button>'
	}
}
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> You don&#39;t need to place the CSS inside the style tag when defining the <code>stylesheet</code> property. <code>WebComponent</code> will
   automatically place it inside the <code>style</code> tag for you whether inside the shadow root or the head tag.
</blockquote>

<h3 id="syntax-highlight"><a href="#syntax-highlight">Syntax Highlight</a></h3>
<p>To help with syntax highlight for editors like <strong>VSCode</strong> <code>cwco</code> exposes
<code>css</code> and <code>html</code>.</p>

<code-snippet language="js">
import {html, css} from "cwco";

class SubmitButton extends WebComponent {
	static observedAttributes = ['label'];
	
	get stylesheet() {
		return css`
			:host {
				display: inline-block;
			}
			
			:host button {
				background: blue;
				color: #222;
			}
		`;
	}
	
	get template() {
		return html`<button type="submit">{label}</button>`;
	}
}
</code-snippet>

<p>If you are using editors like <strong>VSCode</strong>, such help works great with plugins like
	<a href="https://github.com/pushqrdx/vscode-inline-html">inline-html</a> and
	<a href="https://marketplace.visualstudio.com/items?itemName=bierner.lit-html">lit-html</a></p>

<p>If you use jetbrains IDE, HTML and CSS syntax highlight is automatically done without anything.</p>

<h3 id="css-object"><a href="#css-object">CSS Object</a></h3>
<p class="version-flag"><i>Released with version <code>1.6.0</code>.</i></p>

<p>You may also return an object representation of your CSS which comes with a few advantages:</p>
<ol>
	<li>Allows style nesting with <code>&</code> prefix;</li>
	<li>Easier to extend from parent component;</li>
</ol>

<code-snippet language="js">
class SubmitButton extends WebComponent {
	static observedAttributes = ['label'];
	radius = 5;
	
	get stylesheet() {
		return {
			':host' {
				display: 'inline-block';

				button {
					backgroundColor: 'blue';
					color: '#222';
					borderRadius: '[radius]px';
	
					'&:hover {
						backgroundColor: 'purple'
					}
				}
			}
	    '@keyframes fadeInAndOut': {
				from: {opacity: 0.6},
				to: {opacity: 1}
			}
		}
	}
	
	get template() {
		return '<button type="submit">{label}</button>'
	}
}
</code-snippet>

<h4 id="selectors"><a href="#selectors">Selectors</a></h4>
<p>Selectors can be any valid CSS selector including <code>@</code> block like <code>@media</code> and <code>@keyframes</code>.</p>
<code-snippet language="css">
{
	'form button' {
		backgroundColor: 'blue';
		borderRadius: '5px';
	  animation: fadeInOut 0.5s ease;
	},
	'@keyframes fadeInOut': {
		from: {	opacity: 0.5},
		to: {	opacity: 1}
	}
}
</code-snippet>

<h4 id="camelcase-property-name"><a href="#camelcase-property-name">Camelcase property names</a></h4>

<p>Any CSS selector property must be camel-cases following <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Properties_Reference">CSS properties references</a>.</p>
<code-snippet language="css">
{
	button {
		backgroundColor: 'blue';
		borderRadius: '5px';
	}
}

// above becomes
button {
	background-color: blue;
	border-radius: 5px;
}
</code-snippet>

<h4 id="nesting-selectors"><a href="#nesting-selectors">Nesting selectors</a></h4>
<p>Nesting selectors is the quickest and recommended way to group style to increase specificity without having to repeat parent selectors</p>
<code-snippet language="css">
{
	button {
		backgroundColor: 'blue';
		span: {
			display: 'inline-block'
	  }
	}
}

// above becomes
button {
	background-color: blue;
}

button span {
	display: inline-block;
}
</code-snippet>
<h4 id="parent-selector"><a href="#parent-selector">Parent selector (&)</a></h4>
<p>You may also use the parent selector to attach selector states and do more nesting.</p>

<code-snippet language="css">
{
	button {
		backgroundColor: 'blue';
		'&:hover': {
			backgroundColor: 'red';'
		},
	  '& + span' {
			display: 'inline-block'
		}
	}
}

// above becomes
button {
	background-color: blue;
}

button:hover {
	background-color: red;
}

button + span {
	display: inline-block;
}
</code-snippet>
<p>With the parent select spacing matters so <code>&:hover</code> is not the same as <code>& :hover</code>.</p>
<p>All <code>&</code> will be replaced with whatever parent selector chain.</p>

<h3 id="mode-none"><a href="#mode-none">mode none</a></h3>
<p>If the mode of the component is set to <code>none</code>, the style is then placed inside the <code>head</code> tag
   if the component is a <code>ContextProviderComponent</code>, otherwise style is ignored. In case the style is place in
   the <code>head</code> tag, any reference of <code>:host</code> and <code>:host-context</code> will be replaced with
   the name of the component.</p>

<p>Components with "none" mode that are not <code>ContextProviderComponent</code> should be components meant to be styled
by their parents. These should be headless components.</p>
<p>The bellow example shows how style will look like in the head tag with <code>none</code> mode.</p>

<code-snippet language="html">
<head>
	<style id="submit-button">
		submit-button {
			display: inline-block;
		}
		
		submit-button button {
			background: blue;
			color: #222;
		}
	</style>
</head>
</code-snippet>

<blockquote class="note">
	<strong>Note:</strong> We recommend to start any style selector with <code>:host</code> to avoid any style affecting other elements on the page
	since the style will be placed in the head of the document.
</blockquote>

<h3 id="data-binding"><a href="#data-binding">data binding</a></h3>
<p>You can refer to data inside the stylesheet by using the <code>[...]</code> syntax.</p>
<p>This is great for when you want to refer to some theme data or simply want to react to data changes for CSS updates.
   Yes! It will update on data changes. This means that you may not need to define class to be set or removed
   on data changes to update the style.</p>
<p>Take the following button component as example. It is referring to the <code>theme</code> of the app which can be just coming
   from some <a href="/documentation/context-provider-component">context provider component</a>,
   and it is falling back to some other color in case those do not exist.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	get stylesheet() {
		return `
			<style>
				:host button {
					color: [theme?.colors?.light ?? '#fff'];
					background-color: [theme?.colors?.secondary ?? '#000'];
				}
			</style>
		`
	}
	
	get template() {
		return `<button type="button"><slot>click me</slot></button>`;
	}
}
</code-snippet>

<p>Let&#39;s say the theme provider component looks something like this:</p>

<code-snippet language="js">
class ThemeProvider extends ContextProvider {
	static initialContext = {
		theme: {
			colors: {
				primary: 'purple',
				secondary: '#222',
				cta: '#900',
				light: '#f2f2f2',
				dark: '#111',
			},
		}
	}
}
</code-snippet>

<p>We can then use the <code>ThemeProvider</code> component to provide the theme to the <code>MyButton</code> component.</p>

<code-snippet language="html">
<theme-provider>
	<my-button></my-button>
</theme-provider>
</code-snippet>

<h3 id="import-stylesheet"><a href="#import-stylesheet">import stylesheet</a></h3>
<p>What the <code>stylesheet</code> can also return is a stylesheet link. This is useful when you want to import a stylesheet
   from another file.</p>

<code-snippet language="js">
class MyButton extends WebComponent {
	get stylesheet() {
		return '<link rel="stylesheet" href="./my-button.css">'
	}
	
	get template() {
		return `<button type="button"><slot>click me</slot></button>`;
	}
}
</code-snippet>

<p>Modern Browsers will automatically import the stylesheet only ONCE even if the component is used multiple times on the page.</p>

<h3 id="extend-style"><a href="#extend-style">extend style</a></h3>
<p>The ability to extend style is super useful when you want to inheret other components to make specific changes.</p>
<p>You can learn more about how to extend a component style by checking the <a href="/documentation/static-component#extending-style">abstract component</a> doc.</p>

<div class="row align-apart doc-navigation">
	<a href="/documentation/context" class="btn outlined-btn">< Context</a>
	<a href="/documentation/events" class="btn outlined-btn">Events ></a>
</div>
