<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Security-Policy" content="{CSP}">
  <!--	site information -->
	<title>{title}</title>
	<meta name="description" content="{description}">
	<meta property="og:title" content="{title}">
	<meta property="og:type" content="website">
	<meta property="og:description" content="{description}">
	<meta property="og:image" content="{imageUrl}">
	<meta property="og:url" content="{url}">
	<meta property="og:site_name" content="CWCO">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@beforesemicolon">
	<meta name="twitter:image" content="{imageUrl}">
	<meta name="twitter:description" content="{description}">
	<meta name="twitter:image:alt" content="{description}">
  <!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="../assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<inject id="style"></inject>
</head>
<body>
<!--	<a href="#main-content" id="skip-navigation">skip navigation</a>-->
	<header class="page-wrapper row">
		<div class="row gap-sm">
			<h1><img src="../assets/cwco-logo.svg" alt="CWCO logo"></h1>
			<a href="https://www.npmjs.com/package/cwco" class="version-number" target="_blank" rel="noreferrer">v{version}</a>
		</div>
		<div class="row gap-sm">
			<nav tabindex="0">
				<ul aria-label="main-menu" role="menubar">
					<li><a role="menuitem" href="https://codepen.io/beforesemicolon/pen/eYGMwbz" class="cta">Try it Out!</a></li>
					<li><a role="menuitem" href="/documentation">Docs</a></li>
					<li><a role="menuitem" href="https://beforesemicolon.github.io/cwco/?example=create-component.html&theme=neo&file=app.js">Examples</a></li>
					<li><a role="menuitem" href="https://www.youtube.com/watch?v=yv3BeEssw9E">Tutorial</a></li>
					<li><a role="menuitem" href="https://medium.com/before-semicolon/tagged/cwco">Blog</a></li>
				</ul>
				<ul aria-label="documentation-menu" role="menubar">
					<li><a role="menuitem" href="/documentations/why-cwco">Why CWCO?</a></li>
					<li><a role="menuitem" href="/documentations/getting-started">Getting Started</a></li>
					<li><a role="menuitem" href="/documentations/creating-components">Creating Components</a></li>
					<li><a role="menuitem" href="/documentations/component-lifecycles">Component Lifecycles</a></li>
					<li><a role="menuitem" href="/documentations/attributes-and-properties">Attributes & Properties</a></li>
					<li><a role="menuitem" href="/documentations/template">Template</a></li>
					<li><a role="menuitem" href="/documentations/directive">Directive</a></li>
					<li><a role="menuitem" href="/documentations/context">Context</a></li>
					<li><a role="menuitem" href="/documentations/stylesheet">Stylesheet</a></li>
					<li><a role="menuitem" href="/documentations/faq">FAQ</a></li>
					<li>
						<address aria-label="social-media" class="row gap-xsm align-right">
							<a href="https://medium.com/before-semicolon" rel="noopener"><img src="../assets/medium2.svg" alt="medium blog page" width="20"></a>
							<a href="https://www.facebook.com/beforesemicolon/" rel="noopener"><img src="../assets/facebook.svg" alt="facebook page" width="20"></a>
							<a href="https://www.instagram.com/before_semicolon_/" rel="noopener"><img src="../assets/instagram.svg" alt="instagram page" width="20"></a>
							<a href="https://www.reddit.com/r/beforesemicolon/" rel="noopener"><img src="../assets/reddit.svg" alt="reddit page" width="20"></a>
							<a href="https://twitter.com/BeforeSemicolon" rel="noopener"><img src="../assets/twitter.svg" alt="twitter page" width="20"></a>
							<a href="https://www.youtube.com/channel/UCrU33aw1k9BqTIq2yKXrmBw" rel="noopener"><img src="../assets/youtube.svg" alt="YouTube channel" width="20"></a>
						</address>
					</li>
				</ul>
			</nav>
			<button type="button" class="icon"><img src="./../assets/search-icon.svg" alt="search icon"></button>
			<button tabindex="0" type="button" class="icon" id="mobile-menu-toggle"><img src="./../assets/mobile-menu-icon.svg" alt="mobile menu icon"></button>
		</div>
	</header>
	<main class="page-wrapper" id="main-content">
		<inject></inject>
	</main>
	<footer class="page-wrapper">
		<h2><img src="../assets/cwco-logo-name.svg" alt="cwco logo name" height="20"></h2>
		<div class="footer-sections">
			<section>
				<h3>Learning Resources</h3>
				<ul>
					<li><a href="/essential-training">Essential Training</a></li>
					<li><a href="/documentation">Documentation</a></li>
					<li><a href="/examples">Usage Examples</a></li>
					<li><a href="https://medium.com/before-semicolon/tagged/cwco">Blog</a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLpWvGP6yhJUjZJEhaULhXJ0NNbH_EOOuj" rel="noreferrer">Youtube Playlist</a></li>
				</ul>
			</section>
			<section>
				<h3>About Before Semicolon</h3>
				<ul>
					<li><a href="https://github.com/beforesemicolon" rel="noopener">Open Source Software</a></li>
					<li><a href="https://beforesemicolon.com/" rel="noopener">Website</a></li>
					<li><a href="https://medium.com/before-semicolon" rel="noopener">Blog</a></li>
					<li><a href="https://www.youtube.com/channel/UCrU33aw1k9BqTIq2yKXrmBw" rel="noopener">Youtube Channel</a></li>
					<li>
						<address aria-label="social-media">
							<a href="https://medium.com/before-semicolon" rel="noopener"><img src="../assets/medium2.svg" alt="medium blog page" width="20"></a>
							<a href="https://www.facebook.com/beforesemicolon/" rel="noopener"><img src="../assets/facebook.svg" alt="facebook page" width="20"></a>
							<a href="https://www.instagram.com/before_semicolon_/" rel="noopener"><img src="../assets/instagram.svg" alt="instagram page" width="20"></a>
							<a href="https://www.reddit.com/r/beforesemicolon/" rel="noopener"><img src="../assets/reddit.svg" alt="reddit page" width="20"></a>
							<a href="https://twitter.com/BeforeSemicolon" rel="noopener"><img src="../assets/twitter.svg" alt="twitter page" width="20"></a>
							<a href="https://www.youtube.com/channel/UCrU33aw1k9BqTIq2yKXrmBw" rel="noopener"><img src="../assets/youtube.svg" alt="YouTube channel" width="20"></a>
						</address>
					</li>
				</ul>
			</section>
			<div class="copyright">
				<img src="../assets/before-semicolon-logo.png" alt="before semicolon logo" height="30">
				<p><small>Copyright &copy; {(new Date()).getFullYear()} Before Semicolon. All rights reserved.</small></p>
			</div>
		</div>
	</footer>
	
	<inject id="script"></inject>
	
	<div id="shapes-bg"></div>
	
	<script src="./../scripts/particles.min.js" nonce="local"></script>
	<script nonce="local">
		particlesJS("shapes-bg", {
			"particles": {
				"number": {
					"value": 15,
					"density": {
						"enable": true,
						"value_area": 800
					}
				},
				"color": {
					"value": ["#FFF5F7", "#F6F5FF", "#F5FEFF", "#FFF5F5", "#F5FAFF", "#F7FFF5", "#F5FFFA", "#F5FFFF", "#FFF5F9",  "#F5F6FF"]
				},
				"shape": {
					"type": ["circle", "edge", "triangle"],
				},
				"opacity": {
					"value": 1,
					"random": false,
					"anim": {
						"enable": false,
						"speed": 1,
						"opacity_min": 0.1,
						"sync": true
					}
				},
				"size": {
					"value": 75,
					"random": true,
					"anim": {
						"enable": false,
						"speed": 80,
						"size_min": 0.1,
						"sync": false
					}
				},
				"move": {
					"enable": true,
					"speed": 2,
				}
			},
			"interactivity": {
				"detect_on": "canvas",
				"events": {
					"onhover": {
						"enable": false,
						"mode": "repulse"
					},
					"onclick": {
						"enable": false,
					},
					"resize": true
				},
			},
			"retina_detect": true
		})
	</script>
</body>
</html>
