<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="57x57" href="../assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="../assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<title>{title}</title>
	<inject id="style"></inject>
</head>
<body>
<!--	<a href="#main-content" id="skip-navigation">skip navigation</a>-->
	<header class="page-wrapper">
		<h1><img src="../assets/cwco-logo.svg" alt="CWCO logo"></h1>
		<a href="https://www.npmjs.com/package/cwco" class="version-number" target="_blank">v{version}</a>
	</header>
	<main class="page-wrapper" id="main-content">
		<inject></inject>
	</main>
	<footer class="page-wrapper">
		<h2><img src="../assets/cwco-logo-name.svg" alt="cwco logo name" height="20"></h2>
		<div class="footer-sections">
			<section>
				<h3>Learning Resources</h3>
				<ul>
					<li><a href="/essential-training">Essential Training</a></li>
					<li><a href="/documentation">Documentation</a></li>
					<li><a href="/examples">Usage Examples</a></li>
					<li><a href="https://medium.com/before-semicolon/tagged/cwco">Blog</a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLpWvGP6yhJUjZJEhaULhXJ0NNbH_EOOuj">Youtube Playlist</a></li>
				</ul>
			</section>
			<section>
				<h3>About Before Semicolon</h3>
				<ul>
					<li><a href="https://github.com/beforesemicolon">Open Source Software</a></li>
					<li><a href="https://beforesemicolon.com/">Website</a></li>
					<li><a href="https://medium.com/before-semicolon">Blog</a></li>
					<li><a href="https://www.youtube.com/channel/UCrU33aw1k9BqTIq2yKXrmBw">Youtube Channel</a></li>
					<li>
						<address>
							<a href="https://medium.com/before-semicolon"><img src="../assets/medium2.svg" alt="medium blog page" width="20"></a>
							<a href="https://www.facebook.com/beforesemicolon/"><img src="../assets/facebook.svg" alt="facebook page" width="20"></a>
							<a href="https://www.instagram.com/before_semicolon_/"><img src="../assets/instagram.svg" alt="instagram page" width="20"></a>
							<a href="https://www.reddit.com/r/beforesemicolon/"><img src="../assets/reddit.svg" alt="reddit page" width="20"></a>
							<a href="https://twitter.com/BeforeSemicolon"><img src="../assets/twitter.svg" alt="twitter page" width="20"></a>
							<a href="https://www.youtube.com/channel/UCrU33aw1k9BqTIq2yKXrmBw"><img src="../assets/youtube.svg" alt="YouTube channel" width="20"></a>
						</address>
					</li>
				</ul>
			</section>
			<div class="copyright">
				<img src="../assets/before-semicolon-logo.png" alt="before semicolon logo" height="30">
				<p><small>Copyright &copy; {(new Date()).getFullYear()} Before Semicolon. All rights reserved.</small></p>
			</div>
		</div>
	</footer>
	
	<inject id="script"></inject>
</body>
</html>
