$brand-color: #29ABE2;
$cta-color: #7033F8;
$error: #d00505;
$success: #05d034;
$warning: #d09605;
// dark
$black: #171516;
$dark: #242424;
$dark-grey: #696969;
$ash: #34363e;
// light
$light: #fff;
$light-grey: #F7F7F7;
$light-blue: #F5FCFF;
