@import "colors";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2.0', sans-serif;
  font-weight: 100;
  margin-top: 0;
  color: var(--black, $black);
}

h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  margin-top: 0;
}

ul, ol {
  list-style: none;
}

a {
  cursor: pointer;
}

.page-wrapper {
  padding-left: calc(50vw - min(1200px, calc(100vw - 50px))/2);
  padding-right: calc(50vw - min(1200px, calc(100vw - 50px))/2);
}

