@import "sass/fonts";
@import "sass/_normalizer";
@import "sass/theme";
@import "partials/layout";
@import "sass/components/button";
@import "sass/components/flexbox";
@import "sass/common";

#documentation-block {
  display: flex;
  
  article {
    flex: 1;
    color: var(--black, $black);
    border-left: 1px solid var(--mid-grey, $mid-grey);
    border-right: 1px solid var(--mid-grey, $mid-grey);
    padding: 50px;
    min-width: calc(100% - 350px);
    max-width: calc(100% - 350px);

    h2, h3, h4, h5, h6 {
      font-weight: 300;
      scroll-margin-top: 120px;
    }
    
    h2 {
      margin-bottom: 40px;
    }
    
    h3 {
      border-bottom: 1px solid var(--mid-grey, $mid-grey);
      padding-bottom: 10px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    h4 {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 400;
    }
  
    p, li, a {
      line-height: 140%;
    }
    
    ul, ol {
      list-style: square;
    }
    
    li {
      margin-bottom: 5px;
    }
    
    p {
      margin-bottom: 15px;
  
      code {
        font-family: monospace;
        background: var(--light-blue, $light-blue);
        padding: 5px;
        font-style: italic;
      }
    }
    
    > *:not(h2):not(h3):not(h4):not(h5):not(h6) {
      a {
        color: darken($brand-color, 15);
        font-weight: 300;
      }
    }
  
    details {
      border: 1px solid var(--mid-grey, $mid-grey);
      border-radius: 3px;
      padding: 10px 15px 0;
      margin-bottom: 25px;
      line-height: 150%;
    
      summary {
        font-weight: bold;
        margin: -10px -10px 0;
        padding: 10px;
        cursor: pointer;
      }
    
      &[open] {
        padding: 10px 15px;
      
        &summary {
          border-bottom: 1px solid var(--light-grey, $light-grey);
          margin-bottom: .5em;
        }
      }
    }
  
    strong, b {
      font-weight: 300;
    }
    
    code-snippet {
      font-size: 14px !important;
      letter-spacing: 0.03rem !important;
      line-height: 150% !important;
    }

    .doc-navigation {
      border-top: 1px solid var(--mid-grey, $mid-grey);
      padding: 35px 0;
      margin-top: 50px;

      a {
        text-transform: none;
      }
    }
  }
  
  #documentation-menu {
    width: 350px;
    background: var(--light-grey, $light-grey);
    padding: 20px 10px 10px 30px;
    border-radius: 5px;
    margin: 50px 0 0 50px;
    position: sticky;
    top: 0;
    
    li {
      position: relative;
      
      a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: var(--dark, $dark);
        font-weight: 300;
      }
      
      &.active {
        & > a {
          font-weight: 500;
        }
  
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: var(--cta-color, $cta-color);
          position: absolute;
          left: 0;
          top: 15px;
          transform: translate(-120%, 0);
        }
      }
      
      &.with-submenu {
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          background: url("assets/arrow-down-icon.svg") center center/ 100% no-repeat;
          position: absolute;
          left: 0;
          top: 15px;
          transform: translate(-120%, 0);
        }
        
        &.expanded {
          &::before {
            background: url("assets/arrow-up-icon.svg") center center/ 100% no-repeat;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
}

@media screen and (max-width: 1025px) {
  #documentation-block {
    article {
      padding: 50px 0;
      border: none;
      min-width: calc(100% - 250px);
      max-width: calc(100% - 250px);
    }
  
    #documentation-menu {
      width: 250px;
      font-size: 14px;
      padding: 10px 2px 10px 20px;
    }
  }
}

@media screen and (max-width: 725px) {
  #documentation-block {
    article {
      min-width: 100%;
      max-width: 100%;
  
      code-snippet {
        font-size: 12px !important;
      }
    }
  
    #documentation-menu {
      display: none !important;
    }
  }
}

@media screen and (max-width: 550px) {
  #documentation-block {
    article {
      
      .doc-navigation {
        a {
          padding: 8px 10px;
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
}
